.main-slider {
  width: 100%;
  height: 33.5rem;
  background: $indigo url("@/assets/images/slider-cover.svg") center bottom no-repeat;
  overflow: hidden;
  color: $white;
  margin-bottom: rem(128);

  @include media-breakpoint-down(md) {
    height: auto;
  }

  @include media-breakpoint-down(xs) {
    background: $indigo;
    position: relative;
    margin-bottom: rem(64);

    &::before, &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      z-index: 1;
    }

    &::before {
      top: 0;
      background: url("@/assets/images/circle-mobile-top.svg") top center no-repeat;
      background-size: contain;
    }

    &::after {
      bottom: 0;
      background: url("@/assets/images/circle-mobile-bottom.svg") bottom center no-repeat;
      background-size: contain;
    }
  }

  &__container {
    position: relative;
    height: 100%;
    z-index: 2;
  }

  &__person {
    display: flex;
    height: 100%;

    @include media-breakpoint-down(md) {
      height: auto;
    }

    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }

  &__content {
    @include media-breakpoint-down(md) {
      padding-top: rem(64);
      padding-bottom: rem(64);
    }
    @include media-breakpoint-down(sm) {
      order: 1;
      padding-top: rem(32);
      padding-bottom: rem(24);
    }
  }

  &__person-img {
    max-width: rem(470);
    max-height: rem(509);
    margin-top: auto;
    margin-left: rem(44);

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-left: 0;
      margin-top: auto;
    }

    @include media-breakpoint-down(sm) {
      margin: auto auto -18.24%;
    }
  }

  &__title {
    @extend %header-2;
    font-weight: 900;
    margin-bottom: 1rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
    column-gap: 1rem;

    @include media-breakpoint-down(sm) {
      margin-top: .5rem;
      .btn {
        flex: 1;
      }
    }
  }
}
