.game-card {
  height: 100%;
  border-radius: 1rem;
  background: $white;
  padding: rem(24) rem(24) rem(32);
  display: flex;
  flex-direction: column;
  row-gap: rem(12);
  color: $black;
  text-decoration: none;
  transition: box-shadow .3s ease;

  @include media-breakpoint-down(sm) {
    padding: rem(16);
  }

  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: rem(98);
    height: rem(98);

    @include media-breakpoint-down(sm) {
      width: rem(64);
      height: rem(64);
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }

  &__title {
    font-size: rem(24);
    line-height: 1.25;
    font-weight: 600;
    margin-top: rem(4);

    @include media-breakpoint-down(sm) {
      font-size: rem(18);
    }
  }

  &__description {
    max-width: rem(328);
    color: $gray;
    line-height: 1.25;

    @include media-breakpoint-down(sm) {
      font-size: rem(14);
    }

  }
}
