.game-info {
  background: $white;
  padding: rem(96) 0;
  border-bottom: rem(1) solid $border-color;

  @include media-breakpoint-down(sm) {
    padding: rem(64) 0;
  }

  @include media-breakpoint-down(xs) {
    padding: rem(48) 0;
  }

  &__content {
    display: flex;
    column-gap: rem(68);

    @include media-breakpoint-down(md) {
      column-gap: rem(32);
      row-gap: rem(48);
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      max-width: rem(360);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__card {
    padding-top: rem(24);

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }
  }

  &__title {
    @extend %header-3;

    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }

  &__icon {
    @include media-breakpoint-down(xs) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__tags {
    display: flex;
    column-gap: rem(36);
    margin-top: 1rem;

    @include media-breakpoint-down(xs) {
      column-gap: rem(20);
      margin-top: .5rem;
      justify-content: center;
    }
  }

  &__tag {
    @extend %caption;
    position: relative;
    margin-bottom: 0;

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }

    &::before {
      content: '';
      width: rem(4);
      height: rem(4);
      background: $gray;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: rem(-16-4);

      @include media-breakpoint-down(xs) {
        margin-left: rem(-8-4);
      }
    }

    &:first-child {
      &::before {
        content: none;
      }
    }
  }

  &__description {
    @extend %body;
    margin-top: rem(24);
    max-width: rem(416);

    @include media-breakpoint-down(xs) {
      margin-left: auto;
      margin-right: auto;
      line-height: 1.5;
      max-width: rem(360);
      text-align: center;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(48);
    margin-top: rem(24);
    row-gap: rem(16);

    @include media-breakpoint-down(xs) {
      justify-content: center;
      column-gap: rem(16);
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    column-gap: .5rem;
    color: $black;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease;

    &:hover {
      color: $secondary;
    }

    @include media-breakpoint-down(xs) {
      font-size: rem(14);
      column-gap: rem(4);
      line-height: 1.42;
    }


  }

  &__link-icon {
    width: rem(24);
    height: rem(24);
    color: $secondary;
    vertical-align: middle;

    @include media-breakpoint-down(xs) {
      width: rem(20);
      height: rem(20);
    }
  }
}
