.game-icon {
  $this: #{&};

  position: relative;
  width: rem(256);
  height: rem(256);
  flex: none;

  @include media-breakpoint-down(md) {
    width: rem(192);
    height: rem(192);
  }

  @include media-breakpoint-down(sm) {
    width: rem(128);
    height: rem(128);
  }

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $white;
    border-radius: rem(32);
    box-shadow: 0px 20px 40px rgba(126, 26, 255, 0.15);
    display: flex;
    z-index: 2;

    @include media-breakpoint-down(sm) {
      border-radius: 1rem;
    }
  }

  &__cover {
    width: 81.25%;
    height: 81.25%;
    margin: auto;
    z-index: 3;
    position: relative;

    @include media-breakpoint-down(sm) {
      width: 83.3333%;
      height: 83.3333%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__blur {
    position: absolute;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(#{rem(64)}) saturate(3);
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

}
